<!DOCTYPE HTML>
<html>

<head>
    <title>QNDXX截图生成器</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>
    <center>
        <h2>233 no fun<br>不存在该期截图</h2>
        <p>说明：如果这一期数已开始，但无截图，可以在链接一栏输入对应期数的主页链接</p>
        <p>
            主页链接可以从<a href="http://news.cyol.com/node_67071.htm" target="_blank">该页面</a>获取<br>
            如第8季度第9期链接为：
            http://h5.cyol.com/special/daxuexi/8fciwpnnc9/index.html
        </p>
    </center>
</body>

</html>
